body{
    background-color: 10px;
    display:flex;
    flex-direction: column;
}

.portfolio {
    padding: 20rem 9%;

    margin: 0;;
}


.uber-header{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.portfolio p {
    font-size: 1.6rem;
    margin:0;
    text-align:left;
}
.big-container{
    padding: 70px;
    padding-left:0px;
    padding-right:0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.solution{
    padding: 100px;
}
.big-container img{
    height: 180px; 
    width: 500px;
}
.portfolio h2{
    text-align:left;
}
.solution img{
    height: 480px;
    width: 732px;
}

